# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
#                                                                                     #
#     ███████╗██╗      ██████╗ ██████╗ ██╗██████╗  █████╗ ██████╗ ██████╗ ██████╗     #
#     ██╔════╝██║     ██╔═══██╗██╔══██╗██║██╔══██╗██╔══██╗██╔══██╗██╔══██╗██╔══██╗    #
#     █████╗  ██║     ██║   ██║██████╔╝██║██║  ██║███████║██║  ██║██████╔╝██████╔╝    #
#     ██╔══╝  ██║     ██║   ██║██╔══██╗██║██║  ██║██╔══██║██║  ██║██╔══██╗██╔═══╝     #
#     ██║     ███████╗╚██████╔╝██║  ██║██║██████╔╝██║  ██║██████╔╝██║  ██║██║         #
#     ╚═╝     ╚══════╝ ╚═════╝ ╚═╝  ╚═╝╚═╝╚═════╝ ╚═╝  ╚═╝╚═════╝ ╚═╝  ╚═╝╚═╝         #
#                                                                                     #
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #

# Endpoints
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

# Slots disponibles
sv_maxclients 8

# Steam Web API key (https://steamcommunity.com/dev/apikey)
set steam_webApiKey "0E80C7B79DB705FE30D064CB2D77DB6D"

# License FiveM (https://keymaster.fivem.net)
set sv_licenseKey "cfxk_JkWDMpW6gnQIVba2zmCg_OB1Zt"

# Set your server's hostname
sv_hostname "My new FXServer!"

# Set your server's Project Name
sets sv_projectName "FRFlo's setup"

# Set your server's Project Description
sets sv_projectDesc "Default Pterodactyl requiring configuration"

# Langue
sets locale "fr-FR" 

# Version
sv_enforceGameBuild 2545

# Hide player endpoints in external log output.
sv_endpointprivacy true

# OneSync
set onesync on

########################################

# System
ensure sessionmanager
ensure mapmanager
ensure spawnmanager
ensure basic-gamemode
ensure basic-map
# ensure chat
# ensure fivem
# ensure hardcap
# ensure rconlog

# FloridaRP
ensure FloridaRP

ensure FloInput
ensure test